@(detail: PokemonDetails.Details,form: Form[PokemonStatusForm.StatusData],commentPostUrl: Call)(implicit request: MessagesRequestHeader)

@main("hello") {

<h1>Pokemon Web App</h1>
<img src="http://image.jeuxvideo.com/medias-md/149667/1496673199-5318-card.jpg" alt="Pokemon Web App">

<table id="vertical-1">
    <tr>
        <th>Pokemon Name</th>
        <td>@detail.name</td>
    </tr>
    <tr>
        <th>Pokemon Type</th>
        @for(t <- detail.types){
        <td>@t</td>
        }
    </tr>
    <tr>
        <th>Pokemon Stats</th>
        @for(stat <- detail.stats){
        <td>@stat.name :</td>
        <td><@stat.baseStat</td>
        }
    </tr>
    <tr>
        <th>Pokemon Image</th>
        <td>
            <img src=@detail.picture>
        </td>
    </tr>
</table>

<div>

@helper.form(commentPostUrl) {
@helper.CSRF.formField

@helper.inputText(form("name"))
@helper.checkbox(form("like"),'_label -> "Like:",'_help -> "Check if you like it !! ")
@helper.checkbox(form("dislike"),'_label -> "Dislike:",'_help -> "Check if you dont like it !! ")
@helper.inputText(form("comment"))


<button>Send</button>
}
</div>

}
