@(form: Form[PokemonForm.Data], postUrl: Call)(implicit request: MessagesRequestHeader)

  @main("Widgets") {

    <h1>Pokemon Web App</h1>
    <img src="http://image.jeuxvideo.com/medias-md/149667/1496673199-5318-card.jpg" alt="Pokemon Web App">

<hr/>

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
      @form.globalErrors.map { error: FormError =>
        <div>
          @error.key: @error.message
        </div>
      }
    }

    @helper.form(postUrl) {
      @helper.CSRF.formField

      @helper.inputText(form("name"))

      <button>get Details</button>
    }
  }
